In [1]:
# load dataset
from datasets import load_dataset
import pandas as pd
dataset = load_dataset ("rotten_tomatoes")
train_dataset = dataset['train']
validation_dataset = dataset['validation']
test_dataset = dataset['test']

In [2]:
# transform to dataframe
train_df = train_dataset.to_pandas()
validation_df = validation_dataset.to_pandas()
test_df = test_dataset.to_pandas()

In [3]:
train_df

                                                   text  label
0     the rock is destined to be the 21st century's ...      1
1     the gorgeously elaborate continuation of " the...      1
2                        effective but too-tepid biopic      1
3     if you sometimes like to go to the movies to h...      1
4     emerges as something rare , an issue movie tha...      1
...                                                 ...    ...
8525  any enjoyment will be hinge from a personal th...      0
8526  if legendary shlockmeister ed wood had ever ma...      0
8527  hardly a nuanced portrait of a young woman's b...      0
8528    interminably bleak , to say nothing of boring .      0
8529  things really get weird , though not particula...      0

[8530 rows x 2 columns]

In [4]:
validation_df

                                                   text  label
0     compassionately explores the seemingly irrecon...      1
1     the soundtrack alone is worth the price of adm...      1
2     rodriguez does a splendid job of racial profil...      1
3     beneath the film's obvious determination to sh...      1
4       bielinsky is a filmmaker of impressive talent .      1
...                                                 ...    ...
1061  this picture is murder by numbers , and as eas...      0
1062  hilarious musical comedy though stymied by acc...      0
1063  if you are into splatter movies , then you wil...      0
1064  a dull , simple-minded and stereotypical tale ...      0
1065  the feature-length stretch . . . strains the s...      0

[1066 rows x 2 columns]

In [5]:
test_df

                                                   text  label
0     lovingly photographed in the manner of a golde...      1
1                 consistently clever and suspenseful .      1
2     it's like a " big chill " reunion of the baade...      1
3     the story gives ample opportunity for large-sc...      1
4                     red dragon " never cuts corners .      1
...                                                 ...    ...
1061  a terrible movie that some people will neverth...      0
1062  there are many definitions of 'time waster' bu...      0
1063  as it stands , crocodile hunter has the hurrie...      0
1064  the thing looks like a made-for-home-video qui...      0
1065  enigma is well-made , but it's just too dry an...      0

[1066 rows x 2 columns]

In [6]:
# save in csv form
train_df.to_csv("./preprocessed_dataset/train.csv")
validation_df.to_csv("./preprocessed_dataset/validation.csv")
test_df.to_csv("./preprocessed_dataset/test.csv")